#about img {
    border-radius: 16px;
    margin-bottom: 25px;
    max-height: 50vh;
}

@media only screen and (max-width: 1200px) {
    #about img {
        max-height: 30vh;
        margin-bottom: 12px;
    }
}
