#our-story {
    background-image: url("../../../assets/images/wave-lines.png") ;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

#our-story .our-story-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

#our-story img.whiskey-coast {
    max-width: 100%;
    height: auto;
}

#our-story img.coords {
    position: absolute;
    left: 37px;
    padding-top: 5%;
}

@media only screen and (max-width: 768px) {
    #our-story .our-story-container {
        margin-top: 0;
    }
}

