#news {
    max-width: 1440px;
    margin: 100px auto 100px auto;
}

#news .news-container {
    border-radius: 16px;
    background-color: #2C2A27;
}

#news .social-media-image {
    width: 100%;
    height: auto;
}
